/*Resetar o css e colocar as popriedades mais gerais*/
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'BerKshire Swash', sans-serif; 
        text-decoration: none;
        color: rgb(41, 3, 76);
    }

    header {
        min-height: 12vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(238,174,202);
    }

    header h1 {
        margin-top: 1em;
        margin-bottom: .7em;
        color: rgba(77, 16, 133);
        font-size: 2.5em;
    }
        
        
    main{
        width: 100%;
        min-height: 100vh;

        display: flex;
        justify-content: center;

        background: linear-gradient(rgba(238,174,202,1) 0.5%,rgba(148,187,233,1)100%);
    }
        
    main form{
        margin-top: 1%;
        width: 35%;
        height: 70%;
        background-color: rgba(45, 5, 45, 0.1);
        box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.5) insert 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius:20px ;
        padding: 2%;

        display: flex;
        flex-direction: column;
        align-items: center;
     }
        
     /*ajeita o campo de inserir email e senha*/
        
    main form .input_login{
        margin-top:2% ;
        width: 100%;
            
        display: flex;
        flex-direction: column;
        align-items: center;
    }
        
    main form .input_login input {
        width: 90%;
        height: 45px;
        padding: 9px 12.5px;
        border: 0;
        outline: 0;
        border-radius: 15px;

        font-family:Cambria, serif;
        font-size: 20;
        color: rgba(77, 16, 133);
        box-shadow: rgba( 0, 0, 0, 0.5);

        margin-top: 8px;
        background-color: rgba(255, 255, 255, 0.7);
            
        box-shadow: inset 0px 0px 1px 2px  rgba(77, 16, 133, 0.5);
                
    }
        
    main form .input_login input:focus {
        box-shadow: inset 2px 2px 1px 0px rgba(77, 16, 133, 0.5);          
    }
        
    main form .input_login-senha {
        width: 90%;
        margin-top: 5%;
        position: relative;
            
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    main form .input_login-senha i{
        position: absolute;
        right: 10%;
        top: 40%;
        color: rgba(77, 16, 133, 0.3);
        cursor: pointer;
    }

    main form .input_login-email {
        width: 90%;
        margin-top: 5%;
        position: relative;
                    
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    main form .input_login-senha #olhoaberto {
        display: none;
    }
    
    main form .info_senha{
        width: 80%;
        margin-top: 4%;
        
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: small;
    }

    main form .info_senha a {
        transition: 0.2s ease-in-out;
    }

    main form .info_senha a:hover{
        color: rgb(255, 255, 255);
    }

    main form button{
        background-color: rgb(41, 3, 76);
        color: rgba(255, 255, 255);
        width: 45%;
        height: 50px;
        border:0;
        outline:0;
        border-radius: 1000px;
        margin-top: 10%;
        font-size: 1.2em;
        font-weight: 200;
        cursor:pointer;
        transition: 0.3s ease-out;
    }

    main form button:hover {
        background-color: white;
        color: rgba(77, 16, 133);
    }

    main form .links_login-redes-sociais{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 10%;
    }

    main form .links_login-redes-sociais span {
        font-size: 0.8em;
        font-weight: 600px;
    }

    main form .links_login-redes-sociais aside{
        margin-top: 5%;
        width: 8em;
        
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    main form .links_login-redes-sociais aside i {
        font-size: 2em;
        transition: 0.3s ease-in-out;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    main form .links_login-redes-sociais .google:hover{
        box-shadow: 0.1px 0.1px 10px 0.1px rgb(255, 255, 255);
        border-radius: 3px;
    }

    main form .links_login-redes-sociais .linkedin:hover{
        box-shadow: 0.1px 1px 5px 1px rgb(255, 255, 255);
    }

    main form .links_login-redes-sociais .facebook:hover{
        box-shadow: 0.1px 1px 5px 1px rgb(255, 255, 255);
    }

    main form footer{
        width: 100%;
        margin-top: 2rem;

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    main form footer hr{
        width: 100%;
        height: 0px;
        background-color:rgba(183, 28, 255, 0.272);
    }

    main form footer span {
        font-weight: 300;
        font-size: 0.9em;
        margin-top: 5%;
    }

    main form footer a{
        font-weight: 500;
        transition: 0.2s ease-in-out;
    }

    main form footer a:hover{
        color: rgba(255, 255, 255, 0.7);
    }